<!DOCTYPE html>
<html>
  <head>
      <title>TaskBoard!</title>
      <link rel="stylesheet" href="/static/styles.css">
  </head>
  <nav class="nav-bar">
    <div class="nav-items">
      <div id="coll-title">WELCOME TO TASK BOARD!</div>
    </div>
  </nav>
  <body>
    <div class = "login-container">
      <form action="{{ url_for('login_submit') }}" method = "post">

        <p id = "text">Username:</p>
        <p><input type="text" name="login_username"/></p><br>

        <p id = "text">Password:</p>
        <p><input type="password" name="login_password"/></p>

        <div class = "login-buttons">
          <p><input type="submit" value = "Log in" id="nav-item"/></p>
          <a href = "{{ url_for('register') }}" id = "create-account-link"> Create account </a>
        </div>
        
      </form>
    </div>
  </body>
</html>