<!DOCTYPE html>
<html>
    <head>
        <title>TaskBoard</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <nav class="nav-bar">
        <div class="nav-items">
            <h3 id="nav-item">
                <a href="/group">
                    <span id="nav-text">GROUPS</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/taskboard">
                    <span id="nav-text">TASKBOARD</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/motivation">
                    <span id="nav-text">MOTIVATION...</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/logout">
                <span id="nav-text">Log out</span>
                </a>
            </h3>
        </div>
    </nav>
    
<body>
    <div>
        <div class="group">
            <div id="group-name"> Group Name:</div>
            <div id="g-name">{{ group }}</div>
        </div>
        <div>
            <div className="form-items">
                <form action ="{{ url_for('create_task') }}" method = "post">
                    <label class = "add-task-labels"for="task-input">Task:</label>
                    <input type="text" id="nav-item-spec" name="task_name" required />
                
                    <label class = "add-task-labels" for="status-select">Status:</label>
                    <select id="nav-item" name="task_status" required>
                    <option value="">--Select status--</option>
                    <option value="NS">Not Started</option>
                    <option value="IP">In Progress</option>
                    <option value="C">Complete</option>
                    </select>
                
                    <input id="nav-item" type="submit" value="Add Task">
                </form>
            </div>
        </div>
            <div class="board--container">
                <div class="board--card">
                    <div class="task-container">
                        <div id="progress">NOT STARTED</div>
                        <div class="curr-tasks">
                            {% for task in tasks %}
                                {% if task[2] == "NS" %}
                                <div class="curr-task-container">
                                    <p>{{ task[1] }}</p>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="NS">NS</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="IP">IP</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="C">✔</button>
                                    </form>
                                    <form action="{{ url_for('delete_task', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="delete" value="true">⛔</button>
                                    </form>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="board--card">
                    <div class="task-container">
                        <div id="progress">IN-PROGRESS</div>
                        <div class="curr-tasks">
                            {% for task in tasks %}
                                {% if task[2] == "IP" %}
                                <div class="curr-task-container">
                                    <p>{{ task[1] }}</p>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="NS">NS</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="IP">IP</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="C">✔</button>
                                    </form>
                                    <form action="{{ url_for('delete_task', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="delete" value="true">⛔</button>
                                    </form>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="board--card">
                    <div class="task-container">
                        <div id="progress">COMPLETE</div>
                        <div class="curr-tasks">
                            {% for task in tasks %}
                                {% if task[2] == "C" %}
                                 <div class="curr-task-container">
                                    <p>{{ task[1] }}</p>
                                    <div class = "update-btns">
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="NS">NS</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="IP">IP</button>
                                    </form>
                                    <form action="{{ url_for('update_status', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="new_status" value="C">✔</button>
                                    </form>
                                    <form action="{{ url_for('delete_task', task_id=task[0]) }}" method="POST">
                                        <button class="status-btn" type="submit" name="delete" value="true">⛔</button>
                                    </form>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script></script>
</html>