<!DOCTYPE html>
<html>
    <head>
        <title>TaskBoard</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <nav className="nav-bar">
        <div className="nav-items">
            <h3 id="nav-item">
                <a href="/GroupCreateJoin">
                    <span id="nav-text">GROUPS</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/Task-Page/tasks">
                    <span id="nav-text">TASKBOARD</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/Motivation">
                    <span id="nav-text">MOTIVATION...</span>
                </a>
            </h3>
            <h3 id="nav-item">
                <a href="/">
                <span id="nav-text">Log out</span>
                </a>
            </h3>
        </div>
    </nav>
    
<body>
    <div>
        <div class="group">
            <div id="group-name"> Group Name: </div>
            <div id="g-name">Meow</div>
        </div>
        <div class="task-board">
            <div class="add"></div>
            <div class="board--container">
                <div class="task-container">
                    <div id="progress">Tasks</div>
                    <div class="curr-tasks">
                        <div className="curr-task-container">
                            <p>task item</p>
                        </div>
                    </div>
                </div>
         </div>
         
    </div>
</body>
</html>